
@media (max-width: 1300px) {
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (max-width: 660px) {
    .card {
      width: 30rem;
      height: 20rem;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  
    .card--img--container {
      height: 50%;
      width: 60%;
      box-sizing: border-box;
      margin: 0 0 1rem 0;
    }
  
    .card--info {
      height: 40%;
      width: 60%;
    }
  
    .header--title {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 499px) {
    .nav--list--container {
      display: flex;
      flex-direction: column;
    }
    .nav--list--container li {
      margin: 5px;
    }
  }
  